PORT=3333
DATABASE_URL="seu banco vem aqui "
JWT_SECRET="defina-um-segredo-forte-com-pelo-menos-10-caracteres"
JWT_EXPIRES_IN="8h"
BCRYPT_SALT_ROUNDS=10

ADMIN_NOME="Administrador Inicial"
ADMIN_LOGIN="admin"
ADMIN_SENHA="Admin@123"

REGISTRO_NOME="Usuario Registro"
REGISTRO_LOGIN="registro"
REGISTRO_SENHA="Registro@123"

AUTORIZACAO_NOME="Usuario Autorizacao"
AUTORIZACAO_LOGIN="autorizacao"
AUTORIZACAO_SENHA="Autorizacao@123"
